.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: $text-title;
}

.logo__accent {
  color: $accent-color;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

.logo__white {
  color: $text-white;
}
