.projects {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.projects__item {
  margin-top: 30px;
  min-height: 404px;
  width: 100%;

  @media (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 30px);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
  width: 100%;
}

.product__img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;

  @media (min-width: $tablet) {
    padding: 49px 24px;
  }

  @media (min-width: $desktop) {
    padding: 63px 24px;
  }
  margin: 0px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms $cubic;
  opacity: 0;

  .product:hover & {
    transform: translateY(0%);
    opacity: 1;
  }
}

.overlay__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;

  color: $text-white;
}

.product__meta {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border: 1px solid #eeeeee;
  border-top: 0px;
}

.product__name {
  color: $text-title;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.product__tipe {
  color: $text-main;

  font-size: 16px;
  line-height: 1.9;
}
