.social-media {
  display: flex;
  justify-content: center;
  margin: 0 auto 24px;
}

.social-media__item {
  & + & {
    margin-left: 10px;
  }
}

.social-media__area {
  width: 44px;
  height: 44px;

  @extend %flex;
  justify-content: center;

  background-color: none;
  color: #afb1b8;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-media__icon {
  width: 20px;
  height: 20px;
  padding: 12px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
  }
}
