.container {
  max-width: 4800px;
  min-width: 320px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    max-width: 1200px;
  }
}

.container--portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
