.join {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 10px;
  color: $text-white;

  @media (min-width: $desktop) {
    text-align: start;
  }
}

.join__media {
  display: flex;
  margin: 0;
  margin-top: 20px;
}

.join__item {
  & + & {
    margin-left: 10px;
  }
}

.social-media__area--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: $text-white;
}
