.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  padding-top: 16px;
  padding-bottom: 16px;

  color: $text-title;

  @media (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;

    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo__accent {
  color: $accent-color;
}

.logo--footer {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.logo__white {
  color: $text-white;
}
