.subscribe {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.subscribe__form {
  display: flex;

  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__label {
  padding: 0;
  margin: 0;
}

.subscribe__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: $text-footer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &::placeholder {
    color: $text-footer;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media (min-width: $desktop) {
    width: 358px;
  }
}

.subscribe__button {
  @extend %flex;
  justify-content: center;

  width: 200px;
  height: 50px;

  margin-top: 20px;

  @media (min-width: $desktop) {
    margin-left: 12px;
    margin-top: 10px;
  }

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $text-white;
  background-color: $accent-color;
}

.subscribe__icon {
  margin-left: 10px;
}
