.hero__backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  visibility: visible;
  z-index: 3;
  width: 100vw;

  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $cubic, visibility 250ms $cubic;
}

.hero__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  background-color: $text-white;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: opacity 250ms $cubic, transform 250ms $cubic;

  @media (min-width: $desktop) {
    min-width: 528px;
    min-height: 581px;
  }

  .hero__backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $text-white;
  transition: fill 250ms $cubic;

  &:focus,
  &:hover {
    fill: $accent-color;
  }
}
